/* Estilos para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Posicionarlo de manera fija */
    z-index: 1000; /* Asegurar que esté encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    opacity: 0; /* Hacer el modal invisible inicialmente */
    transition: opacity 0.5s ease; /* Efecto de transición para la aparición del modal */
}

/* Contenedor del contenido del modal */
.modal-content {
    background-color: #ffffff; /* Fondo blanco para el contenido del modal */
    margin: 5% auto; /* Centrarse en el medio de la pantalla */
    padding: 20px 30px; /* Padding adecuado para el contenido */
    border: 1px solid #e1e4e8; /* Borde gris claro */
    border-radius: 10px; /* Bordes redondeados */
    width: 90%;
    max-width: 800px; /* Ancho máximo */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más prominente */
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
    transform: translateY(-50px); /* Inicialmente mover hacia arriba */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Efecto de transición para el movimiento del modal */
}

/* Botón de cierre del modal */
.close {
    color: #333333;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/* Contenedor del formulario de encuesta */
.question-container {
    text-align: left;
    padding: 0;
}

.question-container h2 {
    margin-bottom: 50px;
    color: #333333; /* Color del texto del título */
    font-size: 24px;
}

.tittle-main {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 100px;
}

.question {
    margin-bottom: 90px;
}

/* Estilo de los botones de opción */
.option-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.option-card {
    background-color: #f1f1f1; /* Fondo claro */
    border: 1px solid #ddd; /* Borde claro */
    border-radius: 6px; /* Bordes redondeados */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.option-card.selected {
    background-color: #007BFF; /* Fondo azul */
    color: white;
    border-color: #0056b3;
}

.option-card:hover {
    background-color: #e1e4e8; /* Fondo al pasar el cursor */
}

/* Estilo del campo de entrada de texto */
.question-container input[type="text"],
.question-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd; /* Borde claro */
    border-radius: 6px; /* Bordes redondeados */
    font-size: 16px;
    box-sizing: border-box;
}

.question-container input[type="text"]:focus,
.question-container textarea:focus {
    border-color: #007BFF; /* Color de borde al enfocar */
    outline: none;
}

/* Estilo del botón de siguiente y enviar */
button {
    background-color: #007BFF; /* Fondo azul */
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#nextBtn {
    color: #fff;
}

button:hover {
    background-color: #0056b3; /* Fondo azul más oscuro al pasar el cursor */
}

button:disabled {
    background-color: #ddd; /* Fondo gris para estado deshabilitado */
    cursor: not-allowed;
}
